<h1 style="text-align: center; margin-top: 5vh; margin-bottom: 5vh;">Create a new booking</h1>
<div class="container">
  <div class="row" style="margin-bottom: 37vh;">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
     <%= simple_form_for([@warehouse, @booking]) do |f| %>
      <%= f.input :date %>
      <%= f.input :event_name %>
      <h3> Price: <%= @warehouse.price %></h3>
      <%= f.submit "SUBMIT", class: "btn btn-primary btn-lg btn-block" %>
    <% end %>
    </div>
  </div>
</div>
