<h2>Bookings that you've made: </h2>
<% @bookings.each do |booking| %>
  <div class="booking-card">
    <h2><%= booking.warehouse.name %></h2>
    <img src=<%= "#{booking.warehouse.photo}" %> style="height: 400px; width: auto; border-radius: 15px; align-self: center;">
    <p><%= booking.event_name %></p>
    <p> Date booked: </p>
    <p><%= booking.date %></p>
    <p> Price: </p>
    <p><%= booking.price %></p>
    <% if policy(booking).destroy? %>
      <h1><%= link_to "Delete", booking_path(booking), method: :delete, class: "btn-delete" %></h1>
    <% end %>
  </div>
<% end %>
<h1><%= link_to  profile_url, method: :get do %>
  <i class="fas fa-hand-point-left"></i>
<% end %></h1>


<span id="snackbar" data-toggle=snackbar data-content="Booking request sent!"></span>
