<div class="profile-banner">
  <h1 style="font-size: 80px;"> Welcome <%= current_user.email.split("@")[0] %>!</h1>
</div>
<h2 style="font-size: 50px;">Your warehouses: </h2>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <th scope="row">1</th>
        <td> <%= link_to warehouse.name, warehouse_url(warehouse), method: :get%></td>
        <td><%= link_to warehouse.description, warehouse_url(warehouse), method: :get%></td>
        <td><%= link_to warehouse.photo, warehouse_url(warehouse), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <h3><h3>


<p><%= link_to "VIEW YOUR BOOKINGS", bookings_sent_url, method: :get, class: "btn btn-primary btn-lg" %></p>

<p><%= link_to "CREATE NEW WAREHOUSE", new_warehouse_url, method: :get, class: "btn btn-primary btn-lg" %></p>

<p><%= link_to "BOOK A WAREHOUSE", warehouses_url, method: :get, class: "btn btn-primary btn-lg" %></p>


