<h1> Welcome <%= current_user.email.split("@")[0] %></h1>
<h2>Your warehouses: </h2>
<% @warehouses.each do |warehouse| %>
  <p><%= link_to warehouse.name, warehouse_url(warehouse), method: :get%><p>
<% end %>

<p><%= link_to "VIEW YOUR BOOKINGS", bookings_sent_url, method: :get, class: "btn btn-primary" %></p>

<p><%= link_to "CREATE NEW WAREHOUSE", new_warehouse_url, method: :get, class: "btn btn-primary" %></p>

<p><%= link_to "BOOK A WAREHOUSE", warehouses_url, method: :get, class: "btn btn-primary" %></p>
