<div class="profile-banner">
  <h1 style="font-size: 80px;"> Welcome <%= current_user.email.split("@")[0] %>!</h1>
</div>
<div class="container">
  <div class="look-at-all-those-buttons" >

    <%= link_to "My bookings", bookings_sent_url, method: :get %>


    <%= link_to " List warehouse", new_warehouse_url, method: :get %>


    <%= link_to " Book warehouse", warehouses_url, method: :get %>

    <%= link_to " My listings", profile_warehouses_url, method: :get %>


  </div>
</div>
