  <div class="profile-banner">
    <h1 style="font-size: 80px;"> Welcome <%= current_user.email.split("@")[0] %>!</h1>
  </div>
  <div class="container">
  <h2 style="font-size: 50px;">Your warehouses: </h2>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Photo</th>
      </tr>
    </thead>
    <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr>
          <th scope="row">1</th>
          <td> <%= link_to warehouse.name, warehouse_url(warehouse), method: :get%></td>
          <td><%= link_to warehouse.description, warehouse_url(warehouse), method: :get%></td>
          <td><%= link_to "Delete", warehouse_url(warehouse), method: :delete, class: "btn-delete" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="look-at-all-those-buttons" style="justify-content: space-around;">
    <%= link_to "View my bookings", bookings_sent_url, method: :get, class: "btn-profile-option" %>
    <%= link_to "Post warehouse", new_warehouse_url, method: :get, class: "btn-profile-option" %>
    <%= link_to "Book a warehouse", warehouses_url, method: :get, class: "btn-profile-option" %>
  </div>
</div>
