<div class="profile-banner">
  <h1 style="font-size: 80px;"> Welcome <%= current_user.email.split("@")[0] %>!</h1>
</div>
<h2 style="font-size: 50px;">Your warehouses: </h2>
<% @warehouses.each do |warehouse| %>
  <h3><%= link_to warehouse.name, warehouse_url(warehouse), method: :get%><h3>
<% end %>

<p><%= link_to "VIEW YOUR BOOKINGS", bookings_sent_url, method: :get, class: "btn btn-primary btn-lg" %></p>

<p><%= link_to "CREATE NEW WAREHOUSE", new_warehouse_url, method: :get, class: "btn btn-primary btn-lg" %></p>

<p><%= link_to "BOOK A WAREHOUSE", warehouses_url, method: :get, class: "btn btn-primary btn-lg" %></p>
