  <div class="profile-banner">
    <h1 style="font-size: 80px;"> Welcome <%= (current_user.email.split("@")[0]).capitalize %>!</h1>
  </div>
  <div class="container">
  <h2 style="font-size: 50px;">YOUR WAREHOUSES</h2>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Photo</th>
      </tr>
    </thead>
    <tbody>
      <% @warehouses.each_with_index do |warehouse, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td> <%= link_to warehouse.name, warehouse_url(warehouse), method: :get%></td>
          <td><%= link_to warehouse.description, warehouse_url(warehouse), method: :get%></td>
          <td><%= link_to warehouse.photo, warehouse_url(warehouse), method: :get %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="look-at-all-those-buttons" style="justify-content: space-around;">
    <%= link_to "VIEW MY BOOKINGS", bookings_sent_url, method: :get, class: "btn-profile-option" %>
    <%= link_to "POST A WAREHOUSE", new_warehouse_url, method: :get, class: "btn-profile-option" %>
    <%= link_to "BOOK A WAREHOUSE", warehouses_url, method: :get, class: "btn-profile-option" %>
  </div>
</div>

