<div class="profile-banner">
  <h1 style="font-size: 60px;"> Welcome <%= current_user.email.split("@")[0] %>!</h1>
</div>
<div class="container">
  <div class="look-at-all-those-buttons" >

    <%= link_to "My bookings", bookings_sent_url, method: :get %>
    <i class="fas fa-clipboard-list"></i>
    <%= link_to " List warehouse", new_warehouse_url, method: :get %>
    <i class="fas fa-warehouse"></i>
    <%= link_to " Book warehouse", warehouses_url, method: :get %>
    <i class="fab fa-wpforms"></i>
    <%= link_to " My listings", profile_warehouses_url, method: :get %>
    <i class="far fa-calendar-alt"></i>

  </div>
</div>
