<div class="profile-banner">
  <h1 style="font-size: 80px;"> Welcome <%= current_user.email.split("@")[0] %>!</h1>
</div>
<div class="container">
  <div class="look-at-all-those-buttons" style="justify-content: space-around;">

    <%= link_to "View my bookings", bookings_sent_url, method: :get, class: "btn-profile-option" %>


    <%= link_to "Post warehouse", new_warehouse_url, method: :get, class: "btn-profile-option" %>


    <%= link_to "Book a warehouse", warehouses_url, method: :get, class: "btn-profile-option" %>

    <%= link_to "My Listings", profile_warehouses_url, method: :get, class: "btn-profile-option" %>


  </div>
</div>
