<div class="warehouses-banner">
  <h1>All warehouses</h1>
</div>

<div class="row" style="margin-top: 10vh; margin-left: 5vw; margin-right: 5vw;">
  <% @warehouses.each do |warehouse| %>

    <div class="col-md-4" style="text-align: center; display: flex;">

      <div class="card" >
        <%= link_to warehouse_url(warehouse) do %>
          <div class="card-body" style="background-image: url(<%= "#{warehouse.photo}" %>);">
          </div>
          <div class="card-footer">
            <h1><%= warehouse.name %></h1>
            <p><%= warehouse.description %></p>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
<%= link_to  profile_url, method: :get do %>
  <h1><i class="fas fa-hand-point-left"></i></h1>
<% end %>


