<h1>Create a new warehouse</h1>
<%= simple_form_for(@warehouse) do |f| %>
   <%= f.input :name %>
   <%= f.input :photo %>
   <%= f.input :description %>
   <%= f.submit "submit", class: "btn btn-primary" %>
 <% end %>
